[MASTER]
disable=locally-disabled, duplicate-code, useless-super-delegation

[DESIGN]
min-public-methods=0

[FORMAT]
max-line-length=100


[TYPECHECK]
# zmq.{LINGER,REQ,ROUTER,NOBLOCK,PULL} are dynamically generated and so pylint
# doesn't see them, causing false positives.
generated-members=LINGER,REQ,ROUTER,NOBLOCK,PULL